@import "compass";
@import "mixins";

/* ---------- Add/remove page ---------- */

.modify-pages {
	li {
		position: relative;

		&.lfr-nav-hover {
			.delete-tab {
				@include opacity(1);
			}
		}
	}

	.delete-tab {
		color: #444;
		cursor: pointer;
		display: block;
		font-size: 20px;
		font-weight: bold;
		height: 10px;
		line-height: 6px;
		margin-top: -8px;
		overflow: hidden;

		@include opacity(0);

		padding: 3px 0;
		position: absolute;
		right: 1px;
		text-shadow: 0 1px #FFF;
		top: 50%;

		&:hover {
			color: #B50303;
		}
	}

	.drag-handle {
		background-color: #555;

		@include border-radius(50%);

		color: #FFF;
		cursor: pointer;
		font-size: 16px;
		left: 3px;
		line-height: 1em;
		margin: 8px;
		padding: 4px;
		position: absolute;
		text-align: center;
		top: 2px;
		width: 1em;
	}

	.lfr-nav-updateable {
		.add-page-editor {
			.add-page-editor-input {
				width: 150px;
			}

			.btn {
				width: auto;
			}

			@include respond-to(phone, tablet) {
				margin: 0 5px;

				.input-group {
					margin: 6px 0 7px;
					width: 100%;
				}

				.add-page-editor-input, .btn {
					height: 32px;
				}

				.add-page-editor-input {
					left: 5px;
					position: relative;
					top: 2px;
					width: 70%;
					z-index: 1;
				}

				.btn {
					display: inline-block;
					width: 30%;
				}
			}
		}

		&.selected a:hover span {
			cursor: text;
		}
	}
}

.controls-hidden .modify-pages {
	.lfr-nav-sortable > a > span {
		padding-left: 0;
	}

	.drag-handle {
		display: none;
	}
}

.touch .modify-pages {
	.lfr-nav-sortable > a > span {
		padding-left: 28px;
	}

	@include respond-to(desktop) {
		.lfr-nav-sortable > a > span {
			padding-left: 0;
		}

		.drag-handle {
			display: none;
		}
	}
}

.nav {
	li .toolbar {
		margin-top: 5px;
	}
}

/* ---------- General navigation ---------- */

.navigation-pane {
	.body-row {
		height: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;

		ul li a .icon {
			float: left;
			margin-right: 5px;
		}
	}

	.lfr-component {
		margin-left: 0;
	}

	.navigation-entry {
		position: relative;

		&.folder.error {
			display: block;
			padding: 6px 8px;
		}

		.browse-folder, .nav-item-label {
			@include ellipsis;
		}

		.overlay.entry-action {
			bottom: 0;
			display: block;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;

			.btn {
				border-width: 0;
				margin: 0;
				padding: 11px 14px;

				@include respond-to(desktop) {
					padding: 11px;
				}
			}
		}
	}
}

/* ---------- Navigation portlet ---------- */

.nav-menu {
	ul {
		padding-left: 10px;
	}

	li a {
		&.ancestor {
			font-weight: bold;
		}

		&.selected {
			color: #000;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

.nav-menu-style-arrows ul {
	list-style-image: url(../images/arrows/04_right.png);
}

/* ---------- Page template selector ---------- */

.form-options {
	border: 1px solid #AAA;
	display: inline-block;
	vertical-align: middle;

	input {
		border-width: 0;
		display: inline;
		float: left;
	}
}

.form-triggers {
	float: left;
}

.form-trigger {
	background: #C4C4C4 url(../images/application/button_bg.png) repeat-x 0 0;
	border-left: 1px solid #BBB;
	display: inline-block;
	float: left;

	img {
		background: url() no-repeat 50% 40%;
		height: 25px;
		padding: 0 3px;
		vertical-align: middle;
		width: 16px;
	}

	&:focus, &:hover {
		background-color: #83B0CA;
		background-image: url(../images/application/button_bg_over.png);
	}
}

.trigger-selected {
	background-color: #EBEBEB;
	background-image: url(../images/application/button_bg_selected.png);

	&:focus, &:hover {
		background-color: #B7DEF4;
		background-image: url(../images/application/button_bg_selected_over.png);
	}
}

.options-trigger img {
	background-image: url(../images/common/configuration.png);
}

.save-trigger img {
	background-image: url(../images/common/check.png);
}