$gray: #555;

$link-color: #D83331;
$link-hover-color: darken($link-color, 25%);

$border-radius-base: 0;
$border-radius-large: 3px;
$border-radius-small: 2px;

$btn-danger-bg: #F53924;
$btn-default-bg: #F6F6F6;
$btn-default-border: #CFCFCF;
$btn-info-bg: #00CFFF;
$btn-primary-bg: #D83331;
$btn-success-bg: #0ECD27;
$btn-warning-bg: #FFA658;

$dropdown-link-active-bg: lighten($link-color, 5%);
$dropdown-link-hover-bg: darken(#3ECAF4, 10%);
$dropdown-link-hover-color: #FFF;

$line-height-base: 1.42858;

$navbar-default-bg: #F3F3F3;
$navbar-default-border: #DDD;
$navbar-default-link-color: $gray;

$navbar-default-color: $navbar-default-link-color;
$navbar-default-link-active-bg: lighten($navbar-default-bg, 25%);
$navbar-default-link-hover-bg: $navbar-default-bg;
$navbar-default-link-hover-color: $link-hover-color;

$state-danger-bg: #FEE5E2;
$state-danger-border: #FCACA5;
$state-danger-text: #B50303;
$state-info-bg: #CEF1FC;
$state-info-border: darken($state-info-bg, 10%);
$state-info-text: #12718F;
$state-success-bg: #F1FBD1;
$state-success-border: #BCE830;
$state-success-text: #488F06;
$state-warning-bg: #FFFBDC;
$state-warning-border: #F1D875;
$state-warning-text: #BF7900;

$alert-info-bg: $state-info-bg;
$alert-info-border: $state-info-border;
$alert-info-text: $state-info-text;
$alert-success-bg: $state-success-bg;
$alert-success-border: $state-success-border;
$alert-success-text: $state-success-text;
$alert-warning-bg: $state-warning-bg;
$alert-warning-border: $state-warning-border;
$alert-warning-text: $state-warning-text;

// Icon paths

$FontAwesomePath: "aui/alloy-font-awesome/font";
$icon-font-path: "aui/glyphicons/font/";