<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
</head>

#set ($dockbar = $theme.getSetting("dockbar-mac"))

#if ($dockbar == true)
	#set ($css_class = "${css_class} dockbar-mac over")
#end

#set ($bigHome = $theme.getSetting("big-home"))

#if ($bigHome == true)
	#set ($css_class = "${css_class} big-home")
#end

<body class="$css_class">

#quick_access("#main-content")

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div id="wrapper">
	#if ($bigHome == true)
		$velocityPortletPreferences.setValue("portletSetupShowBorders", "false")

		$theme.runtime("56_INSTANCE_CABECERA_SOCIAL", "", $velocityPortletPreferences.toString())

		$velocityPortletPreferences.reset()
	#end
	<header id="banner" role="banner">
		<div class="fixing">
			<div class="container " id="heading">
				<div class="row">
					<h1 class="site-title col-md-3">
						#if ($bigHome == false)
							<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
								<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
							</a>
						#end
						<div class="btn nologin-main-menu visible-xs-block visible-sm-block">
							<i class="nav-item-icon icon-reorder"></i>
						</div>
					</h1>

					<div class="col-md-9">
						#if ($has_navigation || $is_signed_in)
							#parse ("$full_templates_path/navigation.vm")
						#end
					</div>
				</div>
			</div>
		</div>
	</header>

	#set ($container = $theme.getSetting("portlets-container-fluid"))

	#if ($container == true)
		#set ($typeContainer = "container-fluid")
	#else
		#set ($typeContainer = "container")
	#end

	<section class="$typeContainer" id="content">
		<h1 class="hide-accessible">$the_title</h1>

		#if ($bigHome == false)
			<nav id="breadcrumbs">
				#breadcrumbs()
			</nav>
		#end

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</section>

	<footer class="container-fluid" id="footer" role="contentinfo">
		<p class="powered-by">
			#language ("powered-by") <a href="http://evp.liferay.com" rel="external">EVP Liferay </a>

			#if (!$is_signed_in)
				<a data-redirect="$is_login_redirect_required" href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
			#end
		</p>
	</footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>